{% extends 'base.html.twig' %}

{% block title %}My Profile{{ user.username }}!{% endblock %}

{% set include_navigation_bar = true %}

{% block body %}

<!-- Header Start -->
<div class="container-fluid bg-primary py-5 mb-5 page-header">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <h1 class="display-3 text-white animated slideInDown">Edit Profile</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
                        <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li>
                        <li class="breadcrumb-item text-white active" aria-current="page">Edit Profile</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- Header End -->

    <div class="container">
        {{ form(form) }}
    </div>

    <div class="col-12 text-end">
        <a href="{{ path('app_profile') }}" class="btn btn-primary">Return Back</a>
    </div>
{% endblock %}
