{% extends 'base.html.twig' %}

{% block title %}{{ user.username }} Profile{% endblock %}

{% set include_navigation_bar = true %}

{% block body %}

<a href="{{ path('all_courses') }}" class="btn btn-primary">All Courses</a>

{% endblock %}
