{% extends 'base.html.twig' %}

{% block title %}Update Lesson{% endblock %}

{% set include_navigation_bar = true %}

{% block body %}

<h3>{{ lesson.title }}</h3>

<div>
{{ lesson.content|raw }}
</div>

<br>

<a href="{{ path('create_lesson', {'courseId': 1}) }}" class="btn btn-primary">Go Back</a>

{% endblock %}